<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/default.css" />
    <title>Driming old man</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="row">
                <h1 class="logo">/sufnfds</h1>
                <ul class="nav">
                    <li>Java</li>
                    <li>Java Script</li>
                    <li>Database</li>
                    <li>css</li>
                </ul>
            </div>
            <div class="row">
                <span>494 post</span>
            </div>
        </div>
        <div class="content">
            <div class="title">
                <h3 th:text="${article.title}"></h3>
                <!-- 
                <c:forTokens var="file" items="${article.files}" delims="," varStatus="st">
                    <c:set var="style" value=""/>
                    <c:if test="${fn:endsWith(file,'zip')}">
                        <c:set var="style" value="font-weight:bold;color:red" />
                    </c:if>
                    <a href="${file}" style="${style}">${fn:toUpperCase(file)}</a>
                    <c:if test="${not st.last}">
                        /
                    </c:if>
                </c:forTokens>
                    -->
                <p th:with="style=''">
                    <a th:each="file,fileStat : ${#strings.arraySplit(article.files,',')}" th:href="${file}">
                        [[${file}]]<span th:if="${! fileStat.last }">/</span>
                    </a>
                </p>

            </div>
            
            <p th:text="${article.content}">
                ${article.content}
            </p>
        </div>
        <div class="row">
            <div class="written_date">
                <img height="18" width="18" src="/images/time-line.svg" />
                <span th:text="${article.createAt}">
                    <!--  
                        <fmt:formatDate value="${article.createAt}" pattern="MMM dd,yyyy"/>
                        -->
                    </span>
            </div>
            <div class="hit">
                <span>
                <!-- 
                    <fmt:formatNumber value="${article.hit}"/>
                    -->
                    [[${article.hit}]]
                </span>
            </div>
            <div class="tags"><a href="">Git</a><a href="">cli</a></div>
        </div>
        <div class="footer">
            
        </div>
    </div>
        
</html>